@import "../mixins";
@import "../variables";

#main-wrapper {
  > .container {
    background: #fff;

    > .navbar {
      background: fixed url('http://www.flyacts.com/media/pics/header/beraten.jpg') no-repeat 50% 100%;
      background-size: cover;
    }
  }
}

.row {
  text-align: center;
}

.title {
  padding-top: 20px;

  &:hover a {
    color: @ci-flyacts;
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;

  .part {
    h3 {
      margin-top: 0;
    }
  }
}

.slogon {
  margin-bottom: 0;
}

@media (min-width: @bp-tablet) {
  #main-wrapper {
    > .container {
      > .navbar {
        height: 400px;
      }
    }
  }

  .content {
    // Generate 2 columns when in tablet mode
    .part {
      width: 50%;
      min-height: 195px; // Ugly hack to fix the possibility of unwanted layout glitches
      padding: 0 1%;
      float: left;
    }

    .clearfix-mixin;
  }
}

@media (min-width: @bp-desktop) {
  .content {
    // Generate 4 columns when in desktop mode
    .part {
      width: 25%;
    }
  }
}