@import "mixins";
@import "variables";

// General styles
* {
  .box-sizing(border-box);

  &:before, &:after {
    .box-sizing(border-box);
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

a {
  font-weight: bold;
  color: #000;
  text-decoration: none;

  &:hover {
    color: @ci-flyacts;
  }
}